<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.logikoof.ecom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NOTitle"
        tools:replace="android:icon"
        android:fullBackupContent="false"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ImageDetailsActivity"/>
        <activity android:name=".activity.DetailViewActivity"/>

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NOTitle"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".activity.FragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize">

        </activity>
    </application>

</manifest>